.nav-link {
    transition: color 0.2s;
}

.nav-link:hover {
    color: gray;
    /* Change to your preferred hover color */
}

.dropdown-menu {
    transform: scaleY(0);
    transform-origin: top;
}

.group:hover .dropdown-menu {
    transform: scaleY(1);
}



.nav-link-li {
    cursor: pointer;
}

.separator {
    border-left: 2px solid #262523;
    height: 100%; /* Adjust the height as per your design */
    margin: 0 0.5rem; /* Adjust the spacing as per your design */
}

.lower-nav-bg {
    background-color: #333333;
}








